<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wings.board.mappers">


	<select id="selectMaxIdByUserIDAndWriterName"  parameterType="boardCrudDTO" resultType="boardCrudDTO">
 		 
 		SELECT max(id) as id , userId FROM board_info_m_tbl  WHERE userId = #{userId} AND writerName = #{writerName} group by userId
    </select>

	<select id="selectCountAll"  parameterType="boardCrudDTO" resultType="int">
 		 
 		SELECT  count(*)
 		 FROM(SELECT C.id, C.userId , C.title , C.writerName , C.content , COUNT(C.multiFileId) fileCnt , row_number () over(order by c.createdWhen desc,c.writerName asc) as rowNum ,c.updatedWhen , c.createdWhen
		   FROM ( SELECT m.id ,m.userId , m.title , m.writerName  , m.content  , d.multiFileId  , m.updatedWhen , m.createdWhen
		             FROM board_info_m_tbl m 
		       LEFT JOIN board_info_d_tbl d 
		               ON m.id = d.id ) C 
		   GROUP BY c.id, c.userId , c.title , c.writerName , c.content , c.updatedWhen, c.createdWhen
		  ) D
    </select>

     <select id="selectBoardListDataWithPaging"  resultType="boardCrudDTO" parameterType="boardPageDTO">
 	 
 		SELECT E.id, E.userId , E.title , E.writerName , E.content , E.fileCnt , E.rowNum ,E.updatedWhen  ,E.rowNum , E.createdWhen
	       FROM(SELECT  D.id, D.userId , D.title , D.writerName , D.content , D.fileCnt , D.rowNum ,D.updatedWhen , D.createdWhen
	 		 FROM(SELECT C.id, C.userId , C.title , C.writerName , C.content , COUNT(C.multiFileId) fileCnt , row_number ( ) over(order by c.createdWhen desc , c.writerName asc) as rowNum ,c.updatedWhen, c.createdWhen
			   FROM ( SELECT m.id ,m.userId , m.title , m.writerName  , m.content  , d.multiFileId  , m.updatedWhen ,m.createdWhen
			             FROM board_info_m_tbl m 
			       LEFT JOIN board_info_d_tbl d 
			               ON m.id = d.id ) C 
			   GROUP BY c.id, c.userId , c.title , c.writerName , c.content , c.updatedWhen, c.createdWhen
			  ) D
			 where rowNum <![CDATA[<= ]]> #{numMutiAmount}
			 ) E
			 where rowNum <![CDATA[> ]]> #{numMinusOneMutiAmount} and rowNum <![CDATA[<=]]> #{numMutiAmount}
			 ORDER BY rowNum 
    </select>
    
    
    <insert id="insertMasterTbl"  parameterType="boardCrudDTO" >
 		 insert into board_info_m_tbl (  userId ,  title , writerName ,  content , createdBy , updatedBy ) 
         values ( #{userId} , #{title} , #{writerName} ,  #{content} , #{userId} ,  #{userId}) 
    </insert>
    
    <insert id="insertDetailTbl"  parameterType="boardCrudDTO" >
 		 insert into board_info_d_tbl (  id ,  multiFileId , locDrive, locParentFolder, locChildFolder, fileName, fileExtension , createdBy , updatedBy , fileMeta )
         values ( #{id} , #{multiFileId} , #{locDrive} , #{locParentFolder}, #{locChildFolder}, #{fileName} , #{fileExtension} ,   #{userId} , #{userId}, #{fileMeta} )
    </insert>
    
     <insert id="insertDetailTblById"  parameterType="boardCrudDTO" >
 		insert into board_info_d_tbl (  id ,  multiFileId , locDrive, locParentFolder, locChildFolder, fileName, fileExtension , createdBy , updatedBy )
			select #{id} ,#{multiFileId}  ,#{locDrive} , #{locParentFolder}, #{locChildFolder}, #{fileName} , #{fileExtension}  ,#{userId}, #{userId}   from board_info_m_tbl where id = #{id}
    </insert>
    
    <select id="selectMaxMultiFileId" parameterType="boardCrudDTO" resultType="_int">
    	select max(multiFileId) as multiFileId from board_info_d_tbl where id = #{id}
    </select>
    
    <select id="selectFileDataById" parameterType="boardCrudDTO" resultType="boardCrudDTO">
       
       select  d.id , d.multiFileId , d.locDrive , d.locParentFolder , d.locChildFolder , d.fileMeta 
		from board_info_d_tbl d
	    where id = #{id}
     </select> 
     
    <select  id="selectFileNameByUsingFileMetaById" parameterType="boardCrudDTO" resultType="boardCrudDTO" >
     select  case when  d.fileMeta = #{fileMeta} then concat(d.fileName,d.fileExtension) end as fileName
 	  from board_info_d_tbl d
	 	 where id = #{id}
	    <if test="multiFileId!=null">
	 	 and  multiFileId = #{multiFileId}
        </if>
    </select>
     
     <select id="selectBoardDetailById" parameterType="boardCrudDTO" resultType="boardCrudDTO">
        select  m.id as id ,m.userId  , m.title , m.writerName  , m.content ,m.updatedWhen  ,  d.multiFileId , d.locDrive, d.locParentFolder, d.locChildFolder,  d.fileExtension
          from  board_info_m_tbl m 
          left join board_info_d_tbl d 
            on m.id = d.id
         where 1=1
           AND m.id = #{id}
          <if  test="userId != null">
          AND  m.userId =#{userId} 
          </if>
          <if  test="writerName != null">
          AND  m.writerName = #{writerName}
          </if>
     </select>    
    
     <select id="selectJoinDataByIdAndMultiFileId" parameterType="boardCrudDTO" resultType="boardCrudDTO">
        select  m.id as id ,m.userId  , m.title , m.writerName  , m.content ,m.updatedWhen  , d.multiFileId , d.locDrive, d.locParentFolder, d.locChildFolder,  d.fileExtension
          from  board_info_m_tbl m 
          left join board_info_d_tbl d 
            on m.id = d.id
         where 1=1
           AND m.id = #{id}
           AND d.multiFileId = #{multiFileId} 
     </select>   
     
      <select id="selectIdAndMultiFileIdDetailById" parameterType="boardCrudDTO" resultType="boardCrudDTO">
        select  d.id as id , d.multiFileId  
          from  board_info_d_tbl d 
         where 1=1
           AND d.id = #{id}

     </select>
    <select id="selectIdAndMultiFileIdDetailByIdAndFileMeta" parameterType="boardCrudDTO" resultType="boardCrudDTO">
        select  d.id as id , d.multiFileId
        from  board_info_d_tbl d
        where 1=1
          AND d.id = #{id}
          AND d.fileMeta = #{fileMeta}
    </select>


    <delete id="deleteMasterByIdAndUserId" parameterType="boardCrudDTO">
          DELETE FROM board_info_m_tbl
            WHERE id =  #{id} 
              AND createdBy = #{userId} 
    </delete>
    
    <delete id="deleteDetailByIdAndUserId" parameterType="boardCrudDTO">
          DELETE FROM board_info_d_tbl
            WHERE id =  #{id} 
             AND createdBy = #{userId} 
    </delete>
    
    
    <select id="getCount"  parameterType="boardCrudDTO" resultType="int">
              SELECT COUNT(m.id) 
		            FROM board_info_m_tbl m 
		      LEFT JOIN board_info_d_tbl d 
		              ON m.id = d.id 
		           WHERE m.id=#{id}
    </select>
    <update id="updateBoardMasterByIdAndWriterName"  parameterType="boardCrudDTO">
        UPDATE board_info_m_tbl SET title =  #{title}
                			    , content =  #{content}
               					, updatedBy = #{userId}
               					, updatedWhen = now()
        WHERE  id =#{id}
	</update>
	
	<select id="downloadFile"  parameterType="boardCrudDTO" resultType="boardCrudDTO">
          SELECT m.id  ,d.multiFileId ,  d.locDrive, d.locParentFolder, d.locChildFolder,  d.fileExtension
		   FROM board_info_m_tbl m 
	       right JOIN board_info_d_tbl d   
	         ON m.id  = d.id 
		  WHERE m.userId = #{userId} 
		    AND  m.ID  = #{id}
		    
    </select>
	
	<select id="selectRowNumById"  parameterType="java.lang.String" resultType="java.lang.String">
       SELECT f.rownum
        FROM( SELECT E.id, E.userId , E.title , E.writerName , E.content , E.fileCnt , E.rowNum ,E.updatedWhen   , E.createdWhen
	       FROM(SELECT  D.id, D.userId , D.title , D.writerName , D.content , D.fileCnt , D.rowNum ,D.updatedWhen , D.createdWhen
	 		 FROM(SELECT C.id, C.userId , C.title , C.writerName , C.content , COUNT(C.multiFileId) fileCnt , row_number ( ) over(order by c.createdWhen desc , c.writerName asc) as rowNum ,c.updatedWhen, c.createdWhen
			   FROM ( SELECT m.id ,m.userId , m.title , m.writerName  , m.content  , d.multiFileId  , m.updatedWhen ,m.createdWhen
			             FROM board_info_m_tbl m 
			       LEFT JOIN board_info_d_tbl d 
			               ON m.id = d.id ) C 
			  GROUP BY c.id, c.userId , c.title , c.writerName , c.content , c.updatedWhen, c.createdWhen
			  ) D
			 ) E
			) F
	where F.id = #{id}
    </select>
	
	  
	<delete id="detailDeleteByMultiFileID" parameterType="boardCrudDTO">
		delete from board_info_d_tbl where id = #{id} and  multiFileId = #{multiFileId}
	</delete>
	
	<select id ="selectIdAndMultiFileIdByIdAndFileMeta"  parameterType="boardCrudDTO" resultType="boardCrudDTO"  >
		select  d.id as id  , d.multiFileId 
          from board_info_d_tbl d 
         where 1=1
           AND d.id = #{id}
           AND d.fileMeta = #{fileMeta} 
	</select>
    
</mapper>